$colors: (
"purple": #6f42c1,
);
$form-switch-bg-color: gray;
$form-switch-width: 2em;

$input-disabled-color: black;
$input-disabled-bg: white;
$input-disabled-border-color: #ced4da;

$font-size-base: 12px;
$font-size-sm: 6px;
$font-size-lg: 22px;
