@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/forms";
@import "variables";
.btn-purple {
  background-color: map-get($colors, "purple");
  border-color: map-get($colors, "purple");
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}
body {
  height: 100dvh;
  overflow-y: hidden;
}

.container {
  height: 100%;
}
.radio-cards-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 2rem;
  margin-bottom: 11rem;
}
.form-check {
  cursor: pointer;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

.form-check-input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.form-check-label {
  padding: 22px;
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-base;
  white-space: nowrap;
  border: 2px solid #8f4ae0;
  border-radius: 10px;
}

.checked {
  border-radius: 10px;
  background-color: #8f4ae0;
  border-color: #8f4ae0;
}

.form-check-input:checked + .form-check-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}
.form-check-input:disabled + .form-check-label {
  background-color: $input-disabled-bg;
  border-color: $input-disabled-border-color;
}
.form-check-input:disabled + .form-check-label img {
  filter: grayscale(100%);
}
.logo-card {
  cursor: pointer;
  max-width: 30px;
  max-height: 20px;
  width: 100%;
  height: 100%;
}
.text {
  display: flex;
  text-align: center;
}
.text-description {
  padding: 12px;
  white-space: normal;
  text-align: center;
  position: absolute;
  top: 140px;
  font-size: $font-size-base;
  border-radius: 10px;
  border: 2px solid #8f4ae0;
}
.form-check .text-description {
  display: none;
}

.form-check .text-description.selected {
  display: flex;
}
@media (max-width: 767px) {
  .radio-cards-container {
    gap: 1rem;
    margin-bottom: 12rem;
  }
  .form-check-label {
    padding: 8px;
    font-size: $font-size-sm;
    width: 52px;
  }
  .text-description {
    padding: 8px;
    white-space: normal;
    text-align: center;
    position: absolute;
    top: 102px;
    font-size: $font-size-sm;
  }
}
