@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/forms";
@import "variables";

html {
  font-size: 62.5%; /* 10px */
}
body {
  height: 100dvh;
  overflow-y: hidden;
}
.btn-purple {
  background-color: map-get($colors, "purple");
}
.btn-purple:hover {
  border: 1px solid map-get($colors, "purple");
}
.container {
  height: 100%;
}
.radio-cards-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.form-check {
  cursor: pointer;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

.form-check-input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.form-check-label {
  padding: 22px;
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-base;
  white-space: nowrap;
  border: 1px solid map-get($colors, "purple");
  border-radius: 10px;
}

.checked {
  border-radius: 10px;
  background-color: map-get($colors, "purple");
  border-color: map-get($colors, "purple");
}

.form-check-input:checked + .form-check-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: inherit;
  z-index: -1;
}
.form-check-input:disabled + .form-check-label {
  background-color: $input-disabled-bg;
  border-color: $input-disabled-border-color;
}
.form-check-input:disabled + .form-check-label img {
  filter: grayscale(100%);
}
.logo-card {
  cursor: pointer;
  max-width: 30px;
  max-height: 20px;
  width: 100%;
  height: 100%;
}
.text {
  display: flex;
  text-align: center;
}

.text-content {
  height: 74px;
}

.text-description {
  max-width: 310px;
  width: 100%;
  display: none;
  padding: 12px;
  white-space: normal;
  text-align: center;
  font-size: $font-size-base;
  border-radius: 10px;
  border: 1px solid map-get($colors, "purple");
}

.text-description.selected {
  display: block;
}
@media (max-width: 767px) {
  .radio-cards-container {
  }
  .form-check-label {
  }
  .text-description {
    white-space: normal;
    text-align: center;
  }
  .text-content {
    height: 80px;
  }
}







